{
    "settings": {
        "react": {
          "version": "16.6.3"
        }
      },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        }
      },
    "rules": {
      "strict": 0
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ]
  }